// color
$white: hsl(0, 0%, 100%);
$black: hsl(0, 0%, 0%);
$black-opacity-50: hsla(0, 0%, 0%, 0.50);
$black-opacity-25: hsla(0, 0%, 0%, 0.25);
$grey: hsl(0, 0%, 50%);
$clr-dark-hsl: 230 35% 7%;
$clr-light-hsl: 231 77% 90%;
$clr-white-hsl: 0 0% 100%;
// font
$ff-serif: "Bellefair", serif;
$ff-sans-cond: "Barlow Condensed", sans-serif;
$ff-sans-normal: "Barlow", sans-serif;
// mobile
$fs-900-mobile: clamp(5rem, 8vw + 1rem, 9.375rem);
$fs-800-mobile: 3.5rem;
$fs-700-mobile: 1.5rem;
$fs-600-mobile: 1rem;
$fs-500-mobile: 1rem;
$fs-400-mobile: 0.9375rem;
$fs-300-mobile: 1rem;
$fs-200-mobile: 0.875rem;

// tablet
$fs-800-tablet: 5rem;
$fs-700-tablet: 2.5rem;
$fs-600-tablet: 1.5rem;
$fs-500-tablet: 1.25rem;
$fs-400-tablet: 1rem;

// desktop
$fs-800-desktop: 6.25rem;
$fs-700-desktop: 3.5rem;
$fs-600-desktop: 2rem;
$fs-500-desktop: 1.75rem;
$fs-400-desktop: 1.125rem;
$letter-spacing: 0.1rem;
$line-height-lg: 1.5rem;
// spacing and margins
$spacing-1: 0.25rem;
$spacing-2: 0.5rem;
$spacing-3: 1rem;
$spacing-4: 1.5rem;
$spacing-5: 2rem;
$spacing-6: 3rem;
// radius
$border-radius-sm: 0.25rem;
$border-radius-md: 0.5rem;
$border-radius-lg: 1rem;
$border-radius-pill: 50rem;
$border-radius-circle: 50%;
// animation
$animation-time: 0.3s;
// border
$border-width: 2px;
// opacity
$default-opacity: 0.5;
// width
$toggle-size: 1rem;
$section-width: 30rem;
$tablet: 768px;
$desktop: 1024px;