.navMenu {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;

    &__list {
        position: relative;

        &--container {
            position: absolute;
            z-index: 100;
            top: 0;
            right: 0;
        }

        &--button {
            position: relative;
            z-index: 101;
        }
    }
}